.search {
    right: 30px;
}

.third-section-card .third-card-box {
    width: 300px;
}

.third-section-card .third-card-box img {
    margin-left: 93px;
    margin-top: 56px;

}

.third-section-card .third-card-box .third-card-box-text p {
    width: 90%;
}

.foth-section-left-img img {
    width: 100%;
}

.foth-section {
    height: 100%;
}

.fith-section-left-img img{
    width: 100%;
}

.fith-section {
    height: 100%;
   
}


.footer-right table tr th {
    font-size: 20px;
}


.second-section-card {
    grid-template-columns: auto auto;
    justify-items: center;
}

.second-section{
    height: auto;
}

.third-section-card{
    grid-template-columns: auto auto;
}
.third-section{
    height: auto;
}
.card-box-3{
    
}

.footer-right table tr td{
    font-size: 15px;
}
.eight-section-email-subscribe input {
    padding: 14px 22px 9px 9px;
}

.eight-section-email-subscribe button{
    padding: 7px 12px 7px 9px;
}


